* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans, nicode', Geneva, Verdana, sans-serif;

}

:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme),
            var(--color-back-active));
}

.campodetexto{
    border-radius: 1mm;
    font-size:larger;
    padding: 3px;
    border-color: black;
}
#center {
    text-align: center;
}